@charset "UTF-8";

#header-cont h2{
    margin: 30px 0px 10px 20px;
}

.contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}