@charset "UTF-8";

main{
    display: flex;
    flex-direction: column;

}

#header-lojas{
    flex-direction: column;
}
#header-lojas h2{
    margin: 30px 0px 10px 20px;
}
.local-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.local-loja{
    text-align: center;
}
.local-loja > h3{
    margin: 10px;
}
.local-loja > p{
    margin: 4px 0px;
}