@charset "UTF-8";

main{
    display: grid;
    grid-template-columns:  200px 1fr 1fr 1fr;
    gap: 10px;
}
#header-prod{
    grid-column: 1/5;
    grid-row: 1/2;
}
#header-prod h2{
    margin: 30px 0px 10px 20px;
}
.categorias{
    grid-column: 1/2;
    grid-row: 2/4;

    justify-content: start;
    align-content: start;

    padding: 20px;
}
.categorias ul{
    margin-left: 30px;
    padding-top: 10px;
}
.produto{

    text-align: center;
    padding: 20px 0px;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.193);
    margin: 8px;
}

.produto .nomep{
    font-size: .9em;
    margin-bottom: 8px;
}
.produto .voficial{
    font-size: .9em;
    margin: 5px;
    text-decoration: line-through;
}
.produto .vdesc{
    color: red;
    font-weight: bold;
}
